<section id="jobs">
  <div class="container">
    <div class="dropdown clearfix pull-right">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %>
        </li>
        <li>
          <%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %>
        </li>
        <li>
          <%= link_to("按照发表时间排序", jobs_path) %>
        </li>
      </ul>
    </div>

    <ul id="timeline">
      <% @jobs.each do |job| %>
      <%= link_to(job_path(job)) do %>
      <li class="listing clearfix">
        <div class="image_wrapper">
          <% if job.image.present? %>
          <%= image_tag(job.image.logo.url, class: "img-responsive") %>
          <% else %>
          <%= image_tag("http://oji7id3lo.bkt.clouddn.com/60x60.png", class: "img-responsive") %>
          <% end %>
        </div>
        <div class="info">
          <span class="job_title"><%= job.title %></span>
          <span class="job_info"><%= job.company %> <span>&bull;</span> <%= job.wage_lower_bound %> - <%= job.wage_upper_bound %> <span>&bull;</span> <%= job.created_at.strftime("%b %d") %></span>
        </div>

        <% if job.location == "远程" %>
          <span class="job_type remote"><%= job.location %></span>
        <% else %>
          <span class="job_type location"><%= job.location %></span>
        <% end %>

      </li>
      <% end %>
      <% end %>
    </ul>

    <p class="statement">声明: 首页设计来自 Mackenzie Child 的 Youtube 教程</p>
  </div>
</section>
